.next-arrow {
  position: absolute;
  top: 44%;
  right: -45px;
  cursor: pointer;
  font-size: 3em;
  color: #7F4B9E;
  transition: color 0.2s;
}
.prev-arrow {
  .next-arrow;
  right: unset;
  left: -45px;
}
.next-arrow:hover,
.prev-arrow:hover {
  color: #EB3D61;
}
.next-arrow:active,
.prev-arrow:active {
  color: #7F4B9E ;
}
